APPLE_ISSUER_ID="xxx"
APPLE_KEY_CONTENT="xxx"
APPLE_KEY_ID="xxx"
DEVELOPER_APP_ID="xxx"
DEVELOPER_APP_IDENTIFIER="xxx"
DEVELOPER_PORTAL_TEAM_ID="xxx"
FASTLANE_APPLE_ID="xxx"
MATCH_PASSWORD="xxx"
PROVISIONING_PROFILE_SPECIFIER="match AppStore $DEVELOPER_APP_IDENTIFIER"
TEMP_KEYCHAIN_PASSWORD="xxx"
TEMP_KEYCHAIN_USER="xxx"
GIT_AUTHORIZATION="github_username:token"
